<h2>Cars</h2>
<div class="row">
    <form class="form-horizontal" #carsForm="ngForm">
      <div class="col-sm-1"></div>
      <div class="col-sm-8">
          <div class="row">
              <div class="form-group">
                  <table>
                      <tr>
                          <th>Car Image</th>
                          <th width="50%">Car Name/ID</th>
                          <th width="20%">Star Rating</th>
                          <th width="20%">Details</th>
                          <th>Remove</th>
                      </tr>
                      <tr *ngFor="let car of cars | paginate: { itemsPerPage: 9, currentPage: 1 }">
                          <td><img src="https://rrimages.azureedge.net/16/cars/{{carsMap.get(car.carId).imageName}}_Thumb.png"></td>
                          <td><h4>"{{carsMap.get(car.carId).modelName}}"</h4></td>
                          <td allign="centre"><h4>"{{carsMap.get(car.carId).stars}}"</h4></td>
                          <td><button id="selectCar" class="btn btn-success" (click)="onSelectCar(car)"><span class="fa fa-info-circle"></span>Details</button></td>
                          <td><button id="removeCar" class="btn btn-danger" (click)="onRemoveCar(car)"><span class="fa fa-exclamation-circle"></span>Remove</button></td>
                      </tr>

                  </table>

              </div>
              <div class="form-group">
                  <div class="has-text-centered">
                      <pagination-controls></pagination-controls>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-sm-3"></div>
    </form>
</div>
