<h2>Offer Receipts</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>OfferId</th>
            <th>Times Claimed</th>
            <th>Last Triggered</th>
            <th>Last Claimed</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let receipt of receipts">
            <td>
                <a routerLink="/offer/{{receipt.offerId}}" target="_blank">{{receipt.offerId}}</a>
            </td>
            <td>{{receipt.numTimesClaimed}}</td>
            <td>{{receipt.triggerDates.length > 0 ? receipt.triggerDates[receipt.triggerDates.length - 1] : 'Not triggered'}}</td>
            <td>{{receipt.awardDates.length > 0 ? receipt.awardDates[receipt.awardDates.length - 1] : 'Not Claimed'}}</td>
        </tr>
    </tbody>
</table>
