<h2>IAP Receipts</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ReceiptId</th>
      <th>Receipt Provider</th>
      <th>ProductId</th>
      <th>Date of Purchase</th>
      <th>Approximate Dollar Value</th>
      <th>Refunded</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let receipt of receipts" [ngClass]="{ warning: receipt.refunded }">
      <td>{{receipt.orderId ? receipt.orderId : receipt.receiptId}}</td>
      <td>{{receipt.provider}}</td>
      <td>{{receipt.productId}}</td>
      <td>{{receipt.dateOfPurchase}}</td>
      <td>{{receipt.approximateDollarValue}}</td>
      <td>{{receipt.refunded}}</td>
    </tr>
  </tbody>
</table>
