<h2>Player Error Logs</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Verbosity</th>
            <th>Timestamp</th>
            <th>Scope</th>
            <th>RequestId</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let log of entries" [ngClass]="{ danger: log.verbosity === 'ERROR', warning: log.verbosity === 'WARN' }">
            <td>{{log.verbosity}}</td>
            <td>{{log.timestamp}}</td>
            <td>{{log.scope}}</td>
            <td>
                <a routerLink="/logs/requestId/{{region}}/{{log.requestId}}" target="_blank">{{log.requestId}}</a>
            </td>
        </tr>
    </tbody>
</table>
